<h1><%= t("new_group") %></h1>

<%= form_for :group, :url => groups_url, :html => {:id => "new_group_form"} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form" %>
  
	<div class="buttons clear">
		<button class="btn_create" onclick="$('new_group_form').submit();"><%= t("create") %></button>
		<a href="<%= home_path %>" class="cancel btn_cancel"><%= t("cancel") %></a>
	</div>
<% end %>

